body{
	background-color:#00BCD4;
	font-family: Verdana, Rotobo, Noto, Century Gothinc, Calibri;
	font-weight: normal;
	color:white;
}
.header{
	margin-left: 50%;
	font-weight: normal;

}
.cal{
	margin-left: 20%;
	margin-right:20%;
	position: fixed;
	width: 	0%; /*55%*/
	height: 0%; /*90%*/
	
}
.sidebar{
   width: 20%;
   height: 100%;
   position: fixed;
   left: 0px;
   /*top: 300px;*/
   border-right: 2px solid white;
   border-color: #FF8A80;

}
.event_creator{
	margin-left: 20%; /*85%*/
	position: fixed;

}
.events_header{
	font-weight: normal;
}