body{
	background-color: #92C6EC; 
	font-family: Verdana, Rotobo, Noto, Century Gothinc, Calibri;
	font-weight: normal;
	/*color:#1366B3;*/
	color: #333;
}


a{
	text-decoration: none;

}

a:hover{
	text-decoration: none;

}


a:visited{
	color: #333;
	text-decoration: none;
}
a:-webkit-any-link{
	color: #333;
	text-decoration: none;
}

.logo{
	background-size: 20%
	vertical-align: none;
	width:13%;
	align-content: center;
	margin-left: 5%;
	display: inline-block;	
}

.logo_e{
	margin-left: 7.5%;
	background-size: 20%
	vertical-align: none;
	width:13%;
	align-content: center;
	display: inline-block;	
}


img{
	vertical-align: middle;
}

.buttons{
	margin-top: 20px;
	margin-left: 5px;
	display: inline-block;


}
.buttonText{
	font-size: 80%;
	color:white;
}


.header{
	margin-left: 25%;
	font-weight: lighter;
	vertical-align: middle;
	display: inline-block;
	margin-right: 24.5%;
	margin-top: 10px;

}

.header_e{
	margin-left: 20%;
	font-weight: lighter;
	vertical-align: middle;
	display: inline-block;
	margin-right: 14.5%;
	margin-top: 10px;
}

.header_p{
	margin-left: 17%;
	font-weight: lighter;
	vertical-align: middle;
	display: inline-block;
	margin-right: 12.5%;
	margin-top: 10px;

}

.taskLinks{

	display: inline-block;
	/*vertical-align: center;
	text-align: center;*/
	padding-top: 30px;

	margin-right: 15px;
	margin-left:55px;
	/*margin-left: 65.5%;*/
}

.taskLinks_e{

	display: inline-block;
	/*vertical-align: center;
	text-align: center;*/
	padding-top: 10px;
	margin-right: 6%;
}

.taskLinks a{
	color: white;
	text-decoration: none;
}


.cal{
	margin-left: 5%;
	/*margin-right:20%;*/
	position: fixed;
	width: 	70%; /*55%*/
	height: 89.35%; /*90%*/
	border-color: #333;
   border-style: solid;
   border-width: 3px;
	
	
}

.event_creator{
	margin-left: 76.0%; 

	position: fixed;
	width: 20%;
   height: 89.35%;
   background-color: #E3F2FD;
   border-color: #333;
   border-style: solid;
   border-width: 1.5 px;
   color: #333;

}
.event_creator:hover{
	text-decoration: none;
}
.event_creator a:hover{
	text-decoration: none;
}


.events_header{
	font-weight: normal;
	font-size: 180%;
	text-align: center;
	margin-bottom:0px; 
	margin-top: 0; 
}
.events_subheader{
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	margin-bottom:10px; 
	margin-top: 0; 

}
.events{
	overflow:scroll;
	overflow-y:auto;
	height:87%;

}
.events:hover{
	text-decoration: none;
}

.event_content h4{
	margin:0;
	font-size: 150%;


}
.event{
	background-color: #FFFFFF;
	margin: 5px;
	text-decoration: none;
	color: #333;
	border-style: solid;
	border-color: #333;
	border-width: 1px;
	
}
.event:hover{
	text-decoration: none;	
}
.event a:hover{
	text-decoration: none;	
}
.event a:visited{
	text-decoration: none;	
}




.eventButton{
	text-decoration: none;	
}
.eventButton:hover{
	text-decoration: none;	
}
.eventButton a:hover{
	text-decoration: none;	
}
.eventButton a:visited{
	text-decoration: none;	
}


.event_content{
	font-size: 80%;
	text-decoration: none;
}
.event_content:hover{
	text-decoration: none;
}
.event_content a:hover{
	text-decoration: none;
}
.event_content a:visited{
	text-decoration: none;
}

/*.create_event{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 10%;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 150%;
    letter-spacing: 2px;
    text-decoration: none;
}*/

.task_content{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 150%;
    letter-spacing: 2px;
    width: 100%;
    height: 46.7%;
}
.eventInfo{
	display: none;
	text-decoration: none;
	/*visibility: hidden;
	display: none;
	margin-left: 50%;
	margin-right: 50%;
	color: #333;
	background-color: white;*/
	
}

.eventInfo:hover{

	text-decoration: none;

}

.eventInfo a:hover{

	text-decoration: none;

}

.eventInfo a:visited:hover{

	text-decoration: none;

}


