body{
	background-color:#00BCD4;
	font-family: Verdana, Rotobo, Noto, Century Gothinc, Calibri;
	font-weight: normal;
	color:white;
}
.header{
	margin-left: 50%;
	font-weight: normal;

}
.cal{
	margin-left: 20%;
	margin-right:20%;
	position: fixed;
	width: 	55%; /*55%*/
	height: 90%; /*90%*/
	
}
.sidebar{
   width: 20%;
   height: 100%;
   position: fixed;
   left: 0px;
   /*top: 300px;*/
   border-right: 2px solid white;
   border-color: #FF8A80;

}
.event_creator{
	margin-left: 77%; 
	position: fixed;
	width: 20%;
   height: 89.35%;
   background-color: white;
   border-color: #333;
   border-style: solid;
   border-width: 1.5 px;
   color: #333;

}
.events_header{
	font-weight: normal;
	font-size: 180%;
	margin-left: 30%;
	margin-bottom:10px; 
	margin-top: 0; 
}
.events{
	overflow:scroll;
	overflow-y:auto;
	height:90%;
}
.event h4{
	margin:0;
	font-size: 100%;

}
.event{
	background-color: #E3F2FD;
	margin: 5px;
}
.event_content{
	font-size: 80%;
}

.create_event{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 10%;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 150%;
    letter-spacing: 2px;
}